<ion-content>
  <div id="area" class="epub-container"></div>

  <!-- <div class="click-div-left" id="click-left"></div>
  <div class="click-div-right" id="click-right"></div>
  <div class="menu-click-div" id="click-menu"></div> -->

</ion-content>

<div style="opacity: 50%;" id="menu-container">

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="pageRight()" >
    <ion-icon name="arrow-forward-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="start">
  <ion-fab-button (click)="pageLeft()" >
    <ion-icon name="arrow-back-circle"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="center">
  <ion-fab-button (click)="readButtonPressed()" >
    <ion-icon name="volume-high-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</div>


