<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h1>
        Text to speech
      </h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <h2>Rate <i id="rateTag">1.2</i></h2>
        <ion-range min="0.1" max="5"  id="rate" step="0.1" (ionChange)="rateChange()"></ion-range>
        <h2>pitch <i id="pitchTag">1.2</i></h2>
        <ion-range min="0.1" max="10"  id="pitch" step="0.1" (ionChange)="pitchChange()"></ion-range>
        <h2>volume <i id="volumeTag">1.2</i></h2>
        <ion-range min="0.1" max="10"  id="volume" step="0.1" (ionChange)="volumeChange()"></ion-range>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
